*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

html{
  background-color: black;
}

body{
  height: 100%;
  overflow: hidden;
}

.score{
  text-align: center;
  font-size: 36px;
  margin-bottom: 2rem;
  color: rgb(170, 255, 60);; 
}

.playground > ul{
  border: 1px solid #333;
  width: 250px;
  margin: 0 auto;
}

.playground > ul >li{
  width: 100%;
  height: 25px;
  
}

.playground > ul > li > ul{
  display: flex;

}


.playground > ul > li > ul > li{
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(81, 106, 50);
  /* #ccc */
}


.tree{
  background: #67c23a;
  
}

.bar{
  background: salmon;
}

.zed{
  background: #e6a23c;
}

.elLeft{
  background: #8e44ad;
}

.elRight{
  background: #16a085;
}

.square{
  background: #2c82c9;
}

.gameText{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 70px;
}

.gameText > button{
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 30px;
  background-color: salmon;
  border: none;
  border-radius: 10px;
}